
.backgroundourexpert11{
    width: 100%;
    height:auto;
    padding-top: 0%;  
position: relative;

        .logobox{
        border-bottom-left-radius: 230px;
        border-bottom-right-radius: 290px;
        border-top-right-radius:0.459228515625px;
        width: 100%;
        max-width: 300px;
        min-width: 20px;
        height: 110px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 27px #e4c2c21c;
        opacity: 1;
    display: flex;
        &__threedotnav{
             
            margin-left: 60px;
        margin-top: 40px; 
        width: 10px;
    
     
        }
            &__logoimage{
    
        margin-left: 35px;
    margin-top: -30px; 
    width: 100%;
    width: 30px;
    height: 30px;
    position: relative;
    background: transparent linear-gradient(80deg, #179DAF 0%, #3BB29D 45%, #3FB299 49%, #64B882 82%, #72BB79 100%) 0% 0% no-repeat padding-box;
            }
            &__Swetha{
                    font: normal normal 18px/20px SF UI Display;
                    color:#707070 0% 0%;
                    font-family: sans-serif;
                    letter-spacing: 0px;
                    margin-top: 1px;
                    margin-left: 40px;
                    display: flex;
    
            }
            &__dentistry{
                    font: normal normal 8px/8px SF UI Display;
                color:#707070 0% 0% ;
                font-family: sans-serif;
                letter-spacing: 0px;
                margin-top: -1px;
                margin-left: 45px;
                display: flex;
             }
   
            
    }   
    .blueright{
        width: 210px;
        height: 200px;
     position: absolute;
    float: right;
        // top:0px;
        // left:726px;
        background: transparent linear-gradient(180deg, #e5fdfc 0%, #175C64 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        
    
}

    .imageblueright{
        display: flex;
        position: absolute;
   
        width: 850px;
        height: 526px;
        opacity: 1;
     margin-top: 150px;
    margin-left: -70%;
    box-shadow: 1px 6px 20px #00000029;
    -webkit-box-shadow: 15px 15px 32px rgba(68,68,68,0.6);
  
    }

    .headingourexper{
        padding-left: 100px;
        padding-bottom: 20px;
        font: normal normal bold 66px/69px SF UI Display;
        letter-spacing: 0px;
        color: #313133;
        display: flex;
        font-family: sans-serif;
                             
    }
    
    .des11{
   
    padding-left: 100px;
    padding-bottom: 20px;
    font: normal 19px/16px SF UI Display;
    letter-spacing: 0px;
    font-family: sans-serif;
    display: flex;
    color: #313133;
    letter-spacing: 0px;
    line-height: 20px;
    }
    

    .blueleft11{
        display: flex;
        margin-top: 50px;
      width: 100%;
      min-width: 100px;
        max-width: 508px;
        height: 570px;
        background: transparent linear-gradient(180deg, #71D1CA 0%, #175C64 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 1
    
    }
    
    .expertteeth{
        display: flex;
        // width: 100% !important;
        height: auto;
        width: 500px;
        height: 300px;
        opacity: 1;
     margin-top: 135px;
    margin-left: -70%;
        box-shadow: 1px 6px 20px #00000029;
    }
    
    .playbutton{
        display: flex;
        width: 100%;
        height: auto;
        width: 91px;
        height: 91px;
        opacity: 1;
      margin-top: 235px;
      margin-left: -59%;
      
      }
      .img-fluid
      {
          display: flex; 
         height: auto;
         width: 500px;
        height: 400px;
        margin-top: 90px;
        margin-left: 150px; 
          box-shadow: 0px 3px 6px #00000029;
          -webkit-box-shadow: 0px 6px 6px rgba(68,68,68,0.6);
      
      }
     
      .rightheading1{
        padding-top:130px; 
        margin-left: 275px;
        text-align: left;
        font:bold 46px/50px SF UI Display;
        letter-spacing: 0px;
        color: #313133;
        display: flex;
        text-shadow: 0px 3px 6px #40404029;
        font-family: sans-serif;
        
        }
        .rightheadingdescription1{
    margin-left: 280px;
    // padding-left: 100px;
    font: normal 19px/16px SF UI Display;
    letter-spacing: 0px;
    font-family: sans-serif;
    display: flex;
    color: #313133;
    letter-spacing: 0px;
    line-height: 20px;
    display: flex;
    white-space: nowrap;
        }

        .three-dots11 {
           display:flex;
           padding-top: 50px;
           padding-left: 20px;
          padding-bottom: 20px;

          
          
      
          span.first1 {
            width: 130px;
            
            height: 3px;
            border-radius: 50%;
            background: #E4E4E4 0% 0% no-repeat padding-box;
            display: inline-block;
            margin: 3px;
            border-radius: 20%;
            margin-left: 0%;
           
          }
          
          span.second1 {
            width: 150px;
            height: 3px;
            border-radius: 50%;
            background: #3AA9A1 0% 0% no-repeat padding-box;
            // display: inline-block;
            margin: 3px;
            border-radius: 20%;
            margin-left: 0%;
          
          }
         
        }


        .previous3 {
            width: 40px;
            height: 35px;
           padding-left: 0%;
            background-color: #68C5BF;
         
             font: normal normal 34px/11px SF UI Display;
         
    //    margin-top: 20%;
            color: white;
            text-shadow: 0px 3px 6px #40404029;
            font-family: sans-serif;
            white-space: nowrap;
            border: 0px;
            opacity: 1;
            display: inline-flex;
            text-align: center;
            padding-top:0.8%;
            padding-left:0.8%;
            padding-bottom: 0.51%; 
            outline: 0px;
            
          }
          .round3 {
            border-radius: 50%;
            // margin-left: 20%;
            margin-top: -1.3%;
     margin-left: 10px;
          }
        
          .previous4 {
            width: 40px;
            height: 35px;
           
            background-color: #68C5BF;
         
             font: normal normal 34px/11px SF UI Display;

            color: white;
            text-shadow: 0px 3px 6px #40404029;
            font-family: sans-serif;
            white-space: nowrap;
            opacity: 1;
            display: inline-flex;
            align-items: center;
            border: 0px;
         padding-left: 1%;
         padding-bottom: 0.5%; 
         outline: 0px;
          }
          .round4 {
            border-radius: 50%;
            margin-left:1%;
            margin-top: -1.2%;
          }



        }